@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: 'Bebas Neue', sans-serif;
    justify-content: center;
    align-items: center;
    background-image: url('phonebuy2deli.png'); 
    background-repeat: no-repeat; 
    background-size: cover;
}
.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.osnova{
    text-align: center;
    font-size: 1.2em
}
.tableta{
    text-align: center;
}
.btn{
    background-color: #007BFF; 
    color: #fff; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.AdVideo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Paraph{
    padding-left: 50px;
    padding-right: 50px;
}
.tablica {
    width: 700px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
.tablica table {
    border-collapse: collapse; 
    width: 80%; 
}
.tablica td, .tablica th {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}
.tablica th {
    background-color: #f2f2f2; 
}
.forma{
    margin-left: auto;
    margin-right: auto;
    align-items: center; 
    justify-content: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label, input {
    display: block;
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}